.fa-beat {
  animation-duration: 1.5s;
}

.hover:hover {
  transition: 0.6s;
  transform: scale(1.05);
  cursor: pointer;
}

.openPlaylist {
  /* make al text in this class green */

  transform: scale(1.06);
  border: #53535346 1px solid;
}

.dark-placeholder::placeholder {
  /* Most modern browsers */
  color: white !important;
  opacity: 0.5 !important;
}
