.fa-beat {
  animation-duration: 1.5s;
}

.hover:hover {
  transition: 0.6s;
  transform: scale(1.05);
  cursor: pointer;
}

.openPlaylist {
  /* make al text in this class green */

  transform: scale(1.06);
  /* border: #198754c9 1px solid; */
  border: #53535346 1px solid;
}
